altair
anyio 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
async-lru 
attrs 
Babel 
beautifulsoup4 
bleach 
blinker 
Bottleneck 
Brotli 
cachetools 
certifi 
cffi 
charset-normalizer 
click 
colorama 
comm 
contourpy==1.3.1
cycler==0.12.1
debugpy 
decorator 
defusedxml 
executing 
fastjsonschema 
filelock==3.16.1
fonttools==4.55.3
fsspec==2024.12.0
gitdb 
GitPython 
h11 
httpcore 
httpx 
idna 
ipykernel 
ipython 
ipython-genutils
ipywidgets 
jedi 
Jinja2 
json5 
jsonschema 
jsonschema-specifications 
jupyter-events
jupyter-lsp 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
kiwisolver==1.4.8
markdown-it-py 
MarkupSafe 
matplotlib==3.10.0
matplotlib-inline 
mdurl 
mistune 
mkl-service
mkl_fft 
mkl_random 
mpmath==1.3.0
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx==3.4.2
notebook 
notebook_shim 
numexpr 
numpy 
opencv-python==4.10.0.84
overrides 
packaging 
pandas 
pandocfilters 
parso 
pillow 
platformdirs 
prometheus_client 
prompt-toolkit 
protobuf==4.25.3
psutil 
pure-eval 
py-cpuinfo==9.0.0
pyarrow 
pycparser 
pydeck 
Pygments 
pyparsing==3.2.1
PySocks 
python-dateutil 
python-json-logger 
pytz 
pywin32
pywinpty 
PyYAML 
pyzmq 
referencing 
requests 
rfc3339-validator 
rfc3986-validator 
rich 
rpds-py 
scipy==1.15.1
seaborn==0.13.2
Send2Trash 
six 
smmap 
sniffio 
soupsieve 
stack-data 
streamlit 
sympy==1.13.1
tenacity 
terminado 
tinycss2 
toml 
toolz 
torch==2.5.1
torchvision==0.20.1
tornado 
tqdm==4.67.1
traitlets 
typing_extensions 
tzdata 
ultralytics==8.3.60
ultralytics-thop==2.0.13
urllib3 
watchdog 
wcwidth 
webencodings==0.5.1
websocket-client 
widgetsnbextension 
win-inet-pton 
